
#paginated-table th {
    text-align: left;
    padding: .8em 0.5em;
}
.paginated-table td {
    vertical-align: middle;
    padding: .8em 0.5em;
}

.paginated-table img.flag {
    width: 120px;
}

.table>:not(:first-child) {
    border-top: 1px solid var(--semi-light-grey);
}

.bootbox-close-button {
    display: none;
}

.input-group input[type='search'] {
    padding: 7px 10px;
}